<div class="container-fluid">
  <h2 [ngClass]="'titleList'">Lista de Alumnos</h2>
  <table class="table table-bordered" [style.text-align]="'center'">
    <thead [ngClass]="isHead ? 'head' : 'body'">
      <tr [style.font-weight]="'bold'">
        <td>ID</td>
        <td>NOMBRES</td>
        <td>APELLIDOS</td>
        <td>EDAD</td>
        <td>EMAIL</td>
        <td>ESTADO</td>
      </tr>
    </thead>
    <tbody [ngClass]="isBody ? 'body' : 'head'">
      <tr *ngFor="let alumno of alumnos">
        <td>{{alumno.id}}</td>
        <td>{{alumno.firstName | uppercase}} {{alumno.middleName | uppercase}}</td>
        <td>{{alumno.lastName | uppercase}} {{alumno.secondLastName | uppercase}}</td>
        <td>{{alumno.age}}</td>
        <td>{{alumno.email}}</td>
        <td [ngClass]="alumno.status ? 'approved' : 'disapproved'"></td>
      </tr>
    </tbody>
  </table>
</div>
