.container-fluid{
    padding:30px;
}

.titleList{
    margin-bottom: 20px !important;
    color: #1B2049;
}

.head{
    background-color: #285FB8;
    color: white;
}

.body{
    font-size: 15px;
}

.approved{
    background-color: #AFF3AC;
}

.approved::after{
    content: "Aprobado";
}

.disapproved{
    background-color: #FF8686;
    
}

.disapproved::after{
    content: "Reprobado";
}